IMG.center_main {
    display: block;
    margin-left: auto;
    margin-right: auto
}

UL.forecast {
   border: medium solid black;
   list-style-type: none;
   border-radius: 25px;
   overflow-y: scroll;
   height: 600px;
}

UL.forecast IMG {
	border: 1px solid black;
	border-radius: 5px;
	padding: 2px;
	margin: 10px 0;
}
